# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

/morris_meth/ipch
/morris_meth/Debug
/pest++/ipch
/pest++/pest++/Debug
/pest++/pest++/Release
/pest++/x64
/pest_routines/pest_routines/Debug
/pest++/Debug
/genie/Debug
/genie/Release
/pest++/Release
/propack/propack/Debug
Debug
Win32
x64
